<%= form_with model: user do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
      <% user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :ruby %>
      <%= form.text_field :ruby %>
    </div>

    <div class="field">
      <%= form.label :sex %>
      <%= form.text_field :sex %>
    </div>

    <div class="field">
      <%= form.label :tel %>
      <%= form.text_field :tel %>
    </div>

    <div class="field">
      <%= form.label :mobile %>
      <%= form.text_field :mobile %>
    </div>

    <div class="field">
      <%= form.label :mail %>
      <%= form.email_field :mail %>
    </div>

    <div class="field">
      <%= form.label :zip %>
      <%= form.text_field :zip %>
    </div>

    <div class="field">
      <%= form.label :address1 %>
      <%= form.select :address1, User.address1s.keys.map { |k| [k, User.address1s[k]] }, prompt: "選択してください" %>
    </div>

    <div class="field">
      <%= form.label :address2 %>
      <%= form.text_field :address2 %>
    </div>

    <div class="field">
      <%= form.label :address3 %>
      <%= form.text_field :address3 %>
    </div>

    <div class="field">
      <%= form.label :address4 %>
      <%= form.text_field :address4 %>
    </div>

    <div class="field">
      <%= form.label :address5 %>
      <%= form.text_field :address5 %>
    </div>

    <div class="field">
      <%= form.label :birthday %>
      <%= form.date_select :birthday %>
    </div>
  
    <%= form.submit %>
<% end %>