<%= form_with model: skill do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
      <% skill.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <%= form.submit %>
<% end %>