<h1><%= @skill.name %></h1>

<p>id:          <%= @skill.id %></p>
<p>name:        <%= @skill.name %></p>

<ul>
    <li><%= link_to "Edit", edit_skill_path(@skill) %></li>
    <li><%= link_to "Destroy", skill_path(@skill), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %></li>
</ul>
